body{
    /*background-color: lightcyan;*/
    background-color: white;
    margin: 50px 12%;
}

table {
    /*border: 1px solid lightskyblue;*/
    border: 1px solid grey;
    border-radius: 10px;
    /*background-color: #cbfafa;*/
    background-color: #f3f4f5;
    width: 100%;
    padding: 10px;
}

.answer_row td, th{
    /*background-color:#c0f1f1;*/
    background: white;
    border-radius: 5px;
}

.answer_row td:first-child{
    text-align:left;
    padding-left: 15px;
}

td{
    text-align:center;
}

h2, h1{
    text-align: center;
}

h2{
    padding:15px;
    /*border-top: 1px solid #f3f4f5;*/
    margin: 0;
}

button, input{
    border-radius: 5px;
    background-color: #bce6e6;
    border-color: #cbfafa;
}

#comment{
    float: right;
}

