<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Question page</title>
</head>
<body>
    <h1>Question list</h1><br>
    <table cellpadding="5">
        <tr align="center">
            <th> Question  </th>
            <th> Question message  </th>
        </tr>
        <tr align="center">
                <td>{{ question_data['title'] }}</td>
                <td>{{ question_data['message'] }}</td>
        </tr>
    </table>
    <br>
    <table cellpadding="5">
        {% if answer_data==[] %}
            <tr>
           <th> Answer: </th>
                <td>No answer yet</td>
            </tr>
        {% endif %}
        {% for answer in answer_data %}
        <tr>
           <th> Answer: </th>
                <td>{{ answer['message'] }}</td>

                <td>&emsp;&emsp;&emsp;&emsp;Vote number:&emsp;&emsp;{{ answer['vote_number'] }}</td>

                <form action="/answer/{{answer["id"]}}/vote_up">
                    <td>&emsp;&emsp;<input type="submit" value="vote up"/></td>
                </form>

                <form action="/answer/{{answer["id"]}}/vote_down">
                    <td><input type="submit" value="vote down"/></td>
                </form>

                <form action="/question/{{answer["id"]}}&{{ false }}/delete">
                    <td><input type="submit" value="Delete"/></td>
                </form>
        </tr>
        {% endfor %}
    </table>
    <br>
    <form action="/question/{{question_id}}/new-answer">
        <input type="submit" value="Add an answer" />
    </form><br>
    <form action="/question/{{question_id}}&{{ true }}/delete">
        <input type="submit" value="Delete question" />
    </form>
    <a href="/"> Return to main page</a>
</body>
</html>