<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Question page</title>
</head>
<body>
    <h1>Question list</h1><br>
    <table cellpadding="5">
        <tr align="center">
            <th> Question  </th>
            <th> Question message  </th>
        </tr>
        <tr align="center">
                <td>{{ question_data['title'] }}</td>
                <td>{{ question_data['message'] }}</td>
        </tr>
    </table>
    <br>
    <table cellpadding="5">
        {% for answer in answer_data %}
        <tr>
           <th> Answer: </th>
                {% if answer_data == '' %}
                <td>No answer yet</td>
                {% else %}
                <td>{{ answer['message'] }}</td>
                {% endif %}
        </tr>
        {% endfor %}
    </table>
    <br>
    <a href="/"> Return to main page</a>
</body>
</html>


{#{%extends "list.html"%}#}
{#{% block answer %}#}
{#    {% for row in answers%}#}
{#        <tr align="center">#}
{#            {% for element in row %}#}
{#                    <td>{{ row[element] }}</td>#}
{#            {% endfor %}#}
{#        </tr>#}
{#    {% endfor %}#}
{#{% endblock %}#}