<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Question page</title>
</head>
<body>
    <h1>Question</h1><br>
    <table cellpadding="5">
        <tr align="center">
            <th> Question  </th>
            <th> Question message  </th>
            <th> Vote number </th>
        </tr>
        <tr align="center">
                <td>{{ question_data.title }}</td>
                <td>{{ question_data.message }}</td>
                <td>{{ question_data.vote_number }}</td>
            <form action="/question/{{question_data.id}}/vote_up">
                <td>&emsp;&emsp;<input type="submit" value="vote up"/></td>
            </form>
            <form action="/question/{{question_data.id}}/vote_down">
                <td><input type="submit" value="vote down"/></td>
            </form>
                <form action="/question/{{question_id}}/edit">
                    <td><input type="submit" value="Edit"/></td>
                </form>
            <td>
            </td>

        </tr>
    </table>
    <img alt="" width='150' height='150' src="{{ url_for('static', filename=question_data.submission_time|string + '.jpg') }}">

    <p>Tags:&emsp;{% for tag in question_tags %}
        <button>{{ tag.name }}</button>
        <a href="{{ url_for('delete_tag', question_id=question_id, tag_id=tag.id) }}">x</a>&emsp;
    {% endfor %}
    <button><a href="{{ url_for('tag_question', question_id=question_id) }}">Add a new tag</a></button>
{#    <form action="{{ url_for('tag_question', question_id=question_id) }}">#}
{#        <input type="submit" value="Add a new tag"/>#}
{#    </form>#}
    </p>

    <br>
    <table cellpadding="5">
        {% if answer_data==[] %}
            <tr>
           <th> Answer: </th>
                <td>No answer yet</td>
            </tr>
        {% endif %}
        {% for answer in answer_data %}
        <tr>
           <th> Answer: </th>
                <td>{{ answer.message }}</td>
                <td><img alt="" width='150' height='150' src="{{ url_for('static', filename=answer.submission_time|string + '.jpg') }}"></td>

                <td>&emsp;&emsp;&emsp;&emsp;Vote number:&emsp;&emsp;{{ answer.vote_number }}</td>

                <form action="/answer/{{answer.id}}/vote_up">
                    <td>&emsp;&emsp;<input type="submit" value="vote up"/></td>
                </form>

                <form action="/answer/{{answer.id}}/vote_down">
                    <td><input type="submit" value="vote down"/></td>
                </form>

                <form action="/answer/{{answer.id}}/edit">
                    <td><input type="submit" value="edit"/></td>
                </form>

                <form action="/question/{{answer.id}}&{{ false }}/delete">
                    <td><input type="submit" value="Delete"/></td>
                </form>

                <form action="/answer/{{answer.id}}/new-comment">
                    <td><input type="submit" value="Add comment"/></td>
                </form>
        </tr>
        <table cellpadding="5">
            <tr>
                <td><b>Comment</b></td>
                <td><b>Submission time</b></td>
            </tr>
                {% for comment in comments %}
                    {% if answer.id == comment.answer_id %}
                        <tr>
                            <td>{{ comment.message }}</td>
                            <td>{{ comment.submission_time }}</td>
                            <td>
                                <form action="/comments/{{comment.id}}/delete">
                                    <button type="submit">Delete</button>
                                </form>
                            </td>
                            <td>
                                <form action="/comment/{{comment.id}}/edit">
                                    <button type="submit">Edit</button>
                                </form>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </table>
    </table>
    <br>
    <form action="/question/{{question_id}}/new-answer">
        <input type="submit" value="Add an answer" />
    </form><br>
    <form action="/question/{{question_id}}&{{ true }}/delete">
        <input type="submit" value="Delete question" />
    </form>
    <a href="/list"> Return to questions</a><br><br>
    <form action="/question/{{ question_id }}/new-comment">
        <button type="submit">Add comment</button>
    </form><br><br>
    <table cellpadding="5">
            <tr>
                <th>Comment</th>
                <th>Submission time</th>
            </tr>
                {% for comment in comments %}
                    {% if question_id|int == comment.question_id %}
                        <tr>
                            <td>{{ comment.message }}</td>
                            <td>{{ comment.submission_time }}</td>
                            <td>
                                <form action="/comments/{{comment.id}}/delete">
                                    <button type="submit">Delete</button>
                                </form>
                            </td>
                            <td>
                                <form action="/comment/{{comment.id}}/edit">
                                    <button type="submit">Edit</button>
                                </form>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
    </table>
</body>
</html>