<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Question page</title>
</head>
<body>
    <h1>Question list</h1><br>
    <table cellpadding="5">
        <tr align="center">
            {% for header in table_headers%}
            <th> {{ header }} </th>
            {% endfor %}
        </tr>
        {% for row in questions%}
        <tr align="center">
            {% for element in row %}
                {% if element=="title" %}
                    <td><a href='/question/{{ row["id"] }}'>{{ row[element] }}</a></td>
                {% else %}
                    <td>{{ row[element] }}</td>
                {% endif %}
            {% endfor %}
            <form action="/question/{{row["id"]}}/vote_up">
                <td>&emsp;&emsp;<input type="submit" value="vote up"/></td>
            </form>
            <form action="/question/{{row["id"]}}/vote_down">
                <td><input type="submit" value="vote down"/></td>
            </form>
        </tr>
        {% endfor %}
    </table>
    <a href="/"> Return to main page</a>
</body>
</html>