<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Question list</title>
    <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='style/list-style.css')}}>
</head>
<body>
    <h1>Question list</h1>
    <form class='search_bar' action={{ url_for('search') }}>
        <label for="search_bar">Search bar: </label>
        <input type="text" id="search_bar" name="search" required>
        <button type="submit">Search</button>
        <button><a href="{{ url_for('list') }}">Clear search results</a></button>
    </form> <br>

    <table>
        <tr align="center">
            {% for header in table_headers%}
            <th>
                <select onchange="location = this.value">
                    <option>{{ header }}</option>
                    <option value="/list{{header}}&asc">asc</option>
                    <option value="/list{{header}}&desc">desc</option>
                </select>
            </th>
            {% endfor %}
        </tr>
        {% for question in questions%}

            <tr align="center">
                <td>{{ question.submission_time }}</td>
                <td>{{ question.view_number }}</td>
                <td>{{ question.vote_number }}</td>

                {% autoescape off %}
                {% if search_phrase and search_phrase in question.title %}
                    <td><a href='/question/{{ question.id }}'>{{ question.title.replace(search_phrase, replace_to) }}</a></td>
                {% else %}
                     <td><a href='/question/{{ question.id }}'>{{ question.title }}</a></td>
                {% endif %}

                {% if search_phrase and search_phrase in question.message %}
                    <td>{{ question.message.replace(search_phrase, replace_to) }}</td>
                {% else %}
                     <td>{{ question.message }}</td>
                {% endif %}
                {% endautoescape %}
            </tr>
            {% if answer_message %}
            <tr>
                {% autoescape off %}
                {% if answer_message[loop.index0].message not in question.message and
                    answer_message[loop.index0].message not in question.title%}
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td align="left">Search result found in the answers:
                        {{ answer_message[loop.index0].message.replace(search_phrase, replace_to) }}</td>
                 {% endif %}
                {% endautoescape %}
            </tr>
            {% endif %}
        {% endfor %}

    </table>
    <hr>
    <p>Add a question: <a href="/add-question">Add a question</a><br></p>
    <p> <a href={{ url_for('main_page') }}>Return to main page</a><br></p>
</body>
</html>