<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Question list</title>
</head>
<body>
    <h1>Question list</h1><br>
    <table cellpadding="5">
        <tr align="center">
            {% for header in table_headers%}
            <th>
                <select onchange="location = this.value">
                    <option>{{ header }}</option>
                    <option value="/list{{header}}&asc">asc</option>
                    <option value="/list{{header}}&desc">desc</option>
                </select>
            </th>
            {% endfor %}
        </tr>
        {% for row in questions%}
        <tr align="center">
            {% for element in row %}
                {% if element=="id" %}
                {% elif element=="title" %}
{#                    <td><a href='/question/{{ row["id"] }}'>{{ row[element] }}</a></td>#}
                    <td><a href='/question/{{ row["id"] }}'>{{ row[element] }}</a></td>#}
                {% else %}
                    <td>{{ row[element] }}</td>
                {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    <hr>
    Add a question: <a href="/add-question">Add a question</a><br>
{#    <a href="/"> Return to questions</a>#}
</body>
</html>