<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='style/list-style.css')}}>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    {% if logged_in %}
        <h1>Main page - welcome {{ user }}</h1>
    {% else %}
        <h1>Main page</h1>
    {% endif %}
    <header>
        <nav>
            <div id="project_name">AskMate</div>

            <div id='search_bar_box'>

                <form class='search_bar' action={{ url_for('search') }}>

                    <button class="search_icon"><i class="fa fa-search"></i></button>
                    <input class='search_bar_text' type="search" id="search_bar" name="search" required placeholder="Search for...">
                </form>
                <br>
            </div>
            {% if logged_in %}
                <div id="add_question_div">
                    <button id="add_question" type="button"> <a class="links" href="/add-question">Add a question</a><br></button>
                </div>
            {% endif %}
        </nav>
    </header>
    <br>
    <table cellpadding="5">
        <tr>
            <th>Submission time</th>
            <th>View number</th>
            <th>Vote number</th>
            <th>Title</th>
            <th>Message</th>
        </tr>
        {% for row in questions %}
            <tr>
                <td>{{ row.submission_time }}</td>
                <td>{{ row.view_number }}</td>
                <td>{{ row.vote_number }}</td>
                <td><a href="/question/{{ row.id }}">{{ row.title }}</a></td>
                <td>{{ row.message }}</td>
            </tr>
        {% endfor %}
    </table>
    <hr>
    <div id="footer">
        <button> <a class="links" href={{ url_for('list') }}>Go to question page</a><br></button>
        <button id="tags"> <a class="links" href={{ url_for('tags') }}>Go to tags</a><br></button>
        {% if logged_in %}
            <button id="users"> <a class="links" href={{ url_for('users') }}>Check users</a><br></button>
            <button id="logout"> <a class="links" href={{ url_for('logout') }}>Logout</a><br></button>
        {% else %}
            <button id="registration"> <a class="links" href={{ url_for('registration') }}>Create new account</a><br></button>
            <button id="login"> <a class="links" href={{ url_for('login') }}>Login</a><br></button>
        {% endif %}

    </div>
</body>
</html>