<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add answer</title>
    <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='style/list-style.css')}}>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <h1>{{ todo }} answer for: {{ question_data.title }}</h1>
    <h3>Message for the question: {{ question_data.message }}</h3><br>

    <div class="short_form">
    <form action="{{ action_text }}" method="POST" enctype="multipart/form-data">
        <label for="answer">What is your answer for this question?</label><br><br>
        <textarea id="answer" name="answer" rows="5" cols="30">{{ answer_data.message }}</textarea><br><br>
        <label for="image" class="uploadButton"></label>
        <input class='upload' type="file" name="image" id="image"/><br><br>
        <button type="submit">Add your answer</button>
    </form>
    </div><br><br>
    <button> <a class="links" href={{ url_for('main_page') }}>Return to main page</a><br></button>
</body>
</html>