<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='style/list-style.css')}}>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

    <h1>Existing tags</h1>
    <table align="center">
        <tr>
            <th>Tag name</th>
            <th>Number of times used in questions</th>
        </tr>

        {% for tag in tag_occurence %}
            <tr>
                <td>{{ tag.tag_name }}</td>
                <td align="center">{{ tag.occurence }}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>