<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='style/list-style.css')}}>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <h1>{{ title }}</h1>
    <table cellpadding="10" align="center">
        <tr>
            <th>User ID</th>
            <th>User name</th>
            <th>Registration date</th>
            <th>Count of asked questions</th>
            <th>Count of answers</th>
            <th>Count of comments</th>
            <th>Reputation</th>
        </tr>

        {% for user in user_data %}
            <tr>
                <td>{{ user.id }}</td>
                <td><a href="{{ url_for('user_page', user_id=user.id) }}">{{ user.email }}</a></td>
                <td>{{ user.registration_date }}</td>
                <td>{{ user.asked_questions }}</td>
                <td>{{ user.answer }}</td>
                <td>{{ user.comment }}</td>
                <td>{{ user.reputation }}</td>
            </tr>
        {% endfor %}
    </table>
    {% if questions %}
        {% include 'user-page.html' %}
    {% endif %}
    <br>
    <div>
        <button id="main-page"> <a class="links" href={{ url_for('main_page') }}>Return to main page</a><br></button>
    </div>
</body>
</html>