{% block menu%}
    {% if questions != [] %}
        <h2 align="center">My questions</h2>
        <table cellpadding="10" align="center">
            {% for question in questions %}
                <tr>
                    <td>{{ question.question }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
    {% if answers != [] %}
        <h2 align="center">My answers</h2>
        <table cellpadding="10" align="center">
            {% for answer in answers %}
                <tr>
                    <td>{{ answer.answer }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
    {% if comments != [] %}
        <h2 align="center">My comments</h2>
        <table cellpadding="10" align="center">
            {% for comment in comments %}
                <tr>
                    <td>{{ comment.comment }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}